@import "tailwindcss";
@import"postcss-import";


@theme {
    --color-custom-white: #FAFAFA;
    --color-green-primary: #3ECF4C;
    --color-green-primary-100: #E2FCD9CC;
    --color-background-primary: #fffdf3;
    --color-yellow-button: #FFBD3A;
    --color-orange-primary: #F64920;
    --color-text-black: #282424;
    --color-text-secondary: #747474;
    --color-gray-main: #4A505C;

}
